body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: gold;
}
h1{
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration:honeydew;
    color: ;
}
button{
    color:white;
    font-weight: 500;
   background-color: gold;
    margin: 2rem;
height: 60px;
}
button:hover{
    background-color: black;
}